
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/framework/sessions/xf6ADP7nmpCa0IPXbnUa6AIT3x3Wif0SBe9m3JXt
storage/framework/views/960771c52a704eadd5a0e91a1ccb98ee09d26923.php
storage/framework/views/960771c52a704eadd5a0e91a1ccb98ee09d26923.php
storage/logs/laravel.log
